@font-face {
  font-family: 'Open Sauce One SemiBold';
  src: url('../public/open-sauce/open-sauce.one-semibold.ttf') format('woff2');
}

@font-face {
  font-family: 'Open Sauce One Bold';
  src: url('../public/open-sauce/open-sauce.one-extrabold.ttf') format('woff2');
}

@font-face {
  font-family: 'Open Sauce One Light';
  src: url('../public/open-sauce/open-sauce.sans-light.ttf') format('woff2');
}

body {
  min-height: 100vh;
  background: linear-gradient(
    90deg,
    #0b4f6c 0%,
    #4a9c8c 50%,
    #a6c48a 100%
  );
}